.hero {
    text-align: center;
    font-weight: 900;
    padding-top: 75px;
}

.heading {
    font-size: 40px;
    letter-spacing: 5px;
    margin-bottom: -5px;
}

.subHeading {
    font-size: 20px;
    letter-spacing: 4px;
}

@media (min-width: 768px) {
    .heading {
        font-size: 80px;
        letter-spacing: 13px;
    }
    
    .subHeading {
        font-size: 40px;
        letter-spacing: 13px;
    }
}

@media (min-width: 1400px) {
    .linkContainer {
        margin-right: 182px;
    }
}