.section {
    background-color: #FAFAFA;
    padding: 100px 0px 100px 0px;

}

.card {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    padding: 40px 40px 30px 40px;
    border: 1px solid rgba(0,0,0,0.05);
}

@media (min-width: 768px) {
    .card {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .card {
        width: 50%;
    }
}