.video {
    width: 100%;
    object-fit: cover;
    height: 500px;
    
}

@media (min-width: 768px) {
    .video {
        height: 335px;
        object-position: 50% 30%;
    }
}

@media (min-width: 992px) {
    .video {
        height: 480px;
    }
}

@media (min-width: 1400px) {
    .video {
        height: 575px;
        object-position: 50% 25%;
    }
}