.section {
    background-color: #FAFAFA;
    padding: 50px 0px 50px 0px;
}

.grid {
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px;
    justify-content: center;
}

.article {
    height: 300px;
}

.article div {
    color: black;
    text-align: center;
    height: 100px;
    padding-top: 24px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.05);
}

.itemHeading {
    font-weight: 900;
    font-size: 20px;
    margin: 0px;
}