.section {
    background-color: #FAFAFA;
    padding: 50px 0px 50px 0px;
}

.grid {
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px;
    justify-content: center;
    background-color: black;
}

.article {
    background-color: green;
    height: 300px;
}