.section {
    background-color: #FAFAFA;
    padding: 50px 0px 50px 0px;
}

.grid {
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px;
    justify-content: center;
}

.article {
    height: 250px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.05);
}

.imageContainer {
    height: 70%;
    position: relative;
}

.image {
    object-fit: cover;
}

.textContainer {
    height: 30%;
    color: black;
    text-align: center;
    padding-top: 12px;
}

.itemHeading {
    font-weight: 900;
    font-size: 20px;
    margin: 0px;
}

.itemSubHeading {
    font-size: 12px;
}

@media (min-width: 1400px) {
    .grid {
        grid-template-columns: repeat(auto-fit, 430px);
    }

    .article {
        height: 345px;
    }

    .textContainer {
        height: 30%;
        color: black;
        text-align: center;
        padding-top: 29px;
    }
}