.section {
    padding: 50px 0px 50px 0px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    list-style-type: none;
    padding: 0px;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.grid li {
    background-color: white;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 20px;
    text-align: center;
}

.skillIcon {
    font-size: 80px;
}

@media (min-width: 768px) {
    .grid {
        width: 80%;
    }
}