.section {
    background-color: black;
    color: white;
    text-align: center;
    padding: 100px 0px 50px 0px;
}

.iconList {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.iconList svg {
    color: #AFAFAFAF;
}

.iconList svg:hover {
    color: white;
}

.email {
    font-weight: 900;
    font-size: 25px;
    color: white;
}

.email:hover {
    color: #AFAFAFAF;
}

.divider {
    margin-top: 100px;
}