.myNavBar {
    font-weight: 600;
    min-height: 75px;
}

.navBarCollapse {
    justify-content: end;
}

.linkContainer a {
    color: black;
}

.contactBtn {
    background-color: black;
    color: white;
    padding: 10px 15px 10px 15px;
    margin-left: 10px;
}

.contactBtn:hover {
    background-color: white;
    color: black;
}

@media (min-width: 1200px) {
    .linkContainer {
        margin-right: 155px;
    }
}

@media (min-width: 1400px) {
    .linkContainer {
        margin-right: 225px;
    }
}