.section {
    background-color: #FAFAFA;
    padding: 50px 0px;
    display: grid;
    grid-template-columns: 80%;
    grid-template-areas:
        "text"
        "image"
    ;
    justify-content: center;
    gap: 20px;
}

.textSection {
    background-color: white;
    grid-area: text;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.05);
    padding: 20px;
}

.title {
    font-size: 2.5rem;
    font-weight: 900;
}

.mediaSection {
    grid-area: image;
}

.imageContainer {
    position: relative;
    height: 200px;
}

.image {
    object-fit: cover;
}